http://totorow.xyz {
  # upgrade all requests (except /generate_204) to https
  redir {
    if {path} not /generate_204
      / https://totorow.xyz{uri}
  }
  status 204 /generate_204
  log / stdout "{host}: {common}"
}

https://totorow.xyz {
  root web
  templates / .html .xml
  ext .html .xml
  gzip
  log / stdout "{host}: {common}"
  errors visible
  totorow ./repos.xml
  push
  internal /templates
  tls tw84452852@hotmail.com
  status 204 /generate_204
}

# vim: set ft=sh et ts=2 sw=2:
