<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{index .Args 0}}</title>
	<meta name="author" content="Tw" />
	<meta charset="utf-8" />

	<!--icon-->
    <link rel="icon" type="image/jpeg" href="/public/images/favicon.jpeg">

	<link rel="stylesheet" type="text/css" href="/public/css/style.css" />
	<script src="/public/js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="/public/js/playground.js" type="text/javascript" charset="utf-8"></script>
	<script src="/public/js/play.js" type="text/javascript" charset="utf-8"></script>
	<script src="/public/js/godocs.js" type="text/javascript" charset="utf-8"></script>

	{{.AddLink "/public/css/style.css"}}
	{{.AddLink "/public/js/jquery.js"}}
	{{.AddLink "/public/js/playground.js"}}
	{{.AddLink "/public/js/play.js"}}
	{{.AddLink "/public/js/godocs.js"}}

	<script>
	$(function() {
		
		$('.playground > pre.numbers, .code > pre.numbers').each(function() {
			var $spans = $(this).find('> span');

			
			var max = 0;
			$spans.each(function() {
				var n = $(this).attr('num')*1;
				if (n > max) max = n;
			});
			var width = 2;
			while (max > 10) {
				max = max / 10;
				width++;
			}

			
			$spans.each(function() {
				var n = $(this).attr('num')+' ';
				while (n.length < width) n = ' '+n;
				$('<span class="number">').text(n).insertBefore(this);
			});
		});

		initPlayground(new HTTPTransport());
	});
	</script>
	<script type="text/javascript">window.initFuncs = [];</script>
  </head>
  <a href="http://github.com/tw4452852"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/public/images/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
  {{.AddLink "/public/images/forkme_right_red_aa0000.png"}}
  <body>
  <div id="topbar">
	  <div class="container">
		  <form method="GET" action="/search">
			  <div id="menu">
				  <a href="/">home</a>
				  <a href="/rss">rss</a>
				  <input type="text" id="search" name="q" class="inactive" value="Search" placeholder="Search">
			  </div>
			  <div id="heading"><a href="/">Tw's blog</a></div>
		  </form>
	  </div>
  </div>
