<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{.title}}</title>
	<meta name="author" content="Tw" />
	<meta charset="utf-8" />

	<!--Homepage CSS-->
	{{append . "moreStyles" "css/style.css"}}
	<!--golang js-->
	{{append . "moreScripts" "js/jquery.js"}}
	{{append . "moreScripts" "js/playground.js"}}
	{{append . "moreScripts" "js/play.js"}}
	<!--other-->
    <link rel="shortcut icon" type="image/png" href="/public/images/favicon.jpeg">

    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}" />
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
	<script>
	$(function() {
		
		$('.playground > pre.numbers, .code > pre.numbers').each(function() {
			var $spans = $(this).find('> span');

			
			var max = 0;
			$spans.each(function() {
				var n = $(this).attr('num')*1;
				if (n > max) max = n;
			});
			var width = 2;
			while (max > 10) {
				max = max / 10;
				width++;
			}

			
			$spans.each(function() {
				var n = $(this).attr('num')+' ';
				while (n.length < width) n = ' '+n;
				$('<span class="number">').text(n).insertBefore(this);
			});
		});

		initPlayground(new HTTPTransport());
	});
	</script>
  </head>
  <a href="http://github.com/tw4452852"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/public/images/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
  <body>
  <div id="topbar">
	  <div class="container">
		  <form method="GET" action="/search">
			  <div id="menu">
				  <a href="/">home</a>
				  <a href="/rss">rss</a>
				  <input type="text" id="search" name="q" class="inactive" value="Search" placeholder="Search">
			  </div>
			  <div id="heading"><a href="/">Tw's blog</a></div>
		  </form>
	  </div>
  </div>
